.profile__avatar-overlay{
  width: 122px;
  height: 122px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 2;
}

.profile-avatar{
  width: 122px;
  height: 122px;
  object-fit: cover;
  z-index: 1;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  color:transparent;
}

.profile__avatar-overlay:hover{
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url('/src/images/avatar-edit.png');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
  cursor: pointer;
}